* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brightYellow: hsl(71, 73%, 54%);
  --cyan: hsl(179, 62%, 43%);
  --blueGray: hsl(218, 22%, 67%);
  --lightGray: hsl(204, 43%, 93%);
}

html {
  background-color: var(--lightGray);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: .9rem;
}

p, ul {
  font-size: .75rem;
  line-height: 2;
}

.price-card {
  position: absolute;
  max-width: 50%;
  top: 50%;
  transform: translateY(75%);
}

.top-section {
  background-color: #fff;
  border-top-left-radius: .325rem;
  border-top-right-radius: .325rem;
}

.header-section {
  padding-left: 0;
  border-radius: .325 .325;
}

.header-section h2 {
  color: var(--cyan);
}

.header-section h3 {
  color: var(--brightYellow);
}

.header-section p {
  color: var(--blueGray);
}

.bottom-section {
  color: var(--lightGray);
  margin-right: 0;
  margin-left: 0;
}

.section-header {
  font-weight: 700;
}

.subscription {
  background-color: var(--cyan);
  border-bottom-left-radius: .325rem;
}

.price {
  color: var(--lightGray);
}

.amount {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
}

.signup-button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1.25rem 0;
  box-shadow: 0 .3125rem .625rem .625rem rgba(0, 0, 0, 0.05);
  margin-top: 2.375rem;
  width: 100%;
  border-radius: .3125;
  font-size: 1.125rem;
  font-weight: 700;
  /*font-family: "Karla", sans-serif; */
}

.why-us {
  background-color: hsl(177, 43%, 50%);
  border-bottom-right-radius: .325rem;
}

.benefits {
  color: var(--lightGray);
  font-weight: 400;
  line-height: 1.5;
}

.footer-section {
  display: flex;
  flex-direction: row;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Settings */

@media only screen and (max-width: 375px) {

  .price-card {
    position: absolute;
    max-width: 60%;
    top: 10%;
    transform: translateY(25%);
  }

  .subscription {
    border-radius: 0;
  }

  .why-us {
    border-radius: 0 0 .325rem .325rem;
  }

}
